{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires{% endblock %}

{% block body %}
<h1>Liste des Stagiaires</h1>
<table >

    <thead>
        <tr> 
            <th>N°</th>
            <th>Prenom </th>
            <th>Nom </th>
            <th>Action</th>
            
        </tr>
    </thead>
    {% for stagiaire in stagiaire %}
        <tbody >
            <tr>
                <td>{{ stagiaire.Id }}</a></td>
                <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.prenom  }}</a></td>          
                <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nom  }}</a></td>
                <td><a class = "supp" href="{{ path ('delete_stagiaire', {'id': stagiaire.id})}}">Supprimer</a></td> 
                {# <td>{{ programme.nbJour }}</td>           
                <td>{{ element.module.module  }}</td>          
                <td>{{ element.module.categorie.categorie }}</td>
                #}
            </tr>
        </tbody>
        
        {% endfor %}
        {# {% for session in session.stagiaires %}
            <td>{{ session.session  }}</td>
        {% endfor %}          #}
    </table>

    {% endblock %}