{% extends 'base.html.twig' %}

{% block title %}Détail du Stagiaire{% endblock %}

{% block body %}
<h1>Détail du Stagiaire :</h1>
<h2>{{stagiaire.nom ~ ' ' ~ stagiaire.prenom}}</h2>

<table >

   
        <thead>
            <tr> 
                <th>N°</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date Naissance</th>
                <th>Télephone</th>
                <th>Courriel</th>
                <th>Ville</th>
          
        
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>{{ stagiaire.Id }}</td>
                <td>{{ stagiaire.nom }}</td>
                <td>{{ stagiaire.prenom }}</td>
                <td>{{ stagiaire.dateNaissance|date("d/m/Y") }}</td>
                <td>{{ stagiaire.telephone }}</td>
                <td>{{ stagiaire.courriel }}</td>
                <td>{{ stagiaire.ville}}</td>
               
                    
            </tr>
        </tbody>

    
</table>

<h2>Inscrit dans les sessions</h2>

<table >
    <thead>
        <tr> 
          
            <th>Sessions</th>
    
        </tr>
    </thead>
    <tbody >
        <tr>
           
            {% if stagiaire.sessions | length >0 %}
                   {% for session in stagiaire.sessions %}
                   <tr>
                        <td><a href="{{path('show_session', {'id': session.id})}}">{{session.session}}</a> </td>
                    </tr>
                    {% endfor %}
            {% else %}
                   <td>aucun session</td>
            {% endif %}
                
        </tr>
    </tbody>





</table>
    

{% endblock %}