 {% extends 'base.html.twig' %}

{% block title %}Editer une session{% endblock %}

{% block body %}
{# {% if edit %} #}
    <h1>Editer une session</h1>
    {# {% else %}
    <h1>Ajouter une session</h1>
{% endif %} #}

{# {{ form(formAddSession) }} #}

{{ form_start(formAddSession) }}
        
               {{ form_row(formAddSession.session) }}
               {{ form_row(formAddSession.nbPlace) }}
               {{ form_row(formAddSession.dateDebut) }}
               {{ form_row(formAddSession.dateFin) }}
               {{ form_row(formAddSession.stagiaires) }}
               {{ form_row(formAddSession.referent) }}
               {{ form_row(formAddSession.valider) }}
   
            
       
{{ form_end(formAddSession) }}

{% endblock %} 
