{% extends 'base.html.twig' %}

{% block title %}Détail de la session{% endblock %}

{% block body %}
<h1>Détail de la session :</h1>
<h2>{{session.session}}</h2>

<table border="5">

   
        <thead>
            <tr> 
                <th>N°</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nombre de place</th>
                <th>Nom du réferent</th>
                <th>Prenom du réferent</th>
               
                
        
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>{{ session.Id }}</td>
                <td>{{ session.dateDebut|date("d/m/Y") }}</td>
                <td>{{ session.dateFin|date("d/m/Y") }}</td>
                <td>{{ session.nbPlace }}</td>
                <td>{{session.referent.nomReferent }}</td>
                <td>{{ session.referent.prenomReferent }}</td>
               
            </tr>
            
        </tbody>
        
        
    </table>

   {# tableau liste des stagiaires inscrits  #}
   <h2>Stagiaires inscrits</h2>
    <table border="5">

   
        
            <tbody>
                {% if session.stagiaires | length >0 %}
                    {% for stagiaire in session.stagiaires %}
                                                
                        <td><a href="{{path('show_stagiaire', {'id': stagiaire.id})}}">{{ stagiaire.prenom ~ ' ' ~ stagiaire.nom}}</a></td>
                                                
                    {% endfor %}
                        {% else %}
                        <td>aucun stagiaire </td>
                {% endif %}
            </tbody>
    </table>

{# Modules #}
    <h2>Modules et catégories</h2>
    <table border="5">
        <thead>
            <tr> 
                <th>Module</th>
                <th>Catégorie</th>
                          
                     
            </tr>
        </thead>
    
            
        <tbody>
            {% if session.programmes | length >0 %}
                {% for programme in session.programmes %}
            <tr>                                
                <td>{{ programme.module.module }}  </td>
                <td>{{ programme.module.categorie.categorie }} </td>
            </tr>
                                            
                {% endfor %}
                    {% else %}
                    <td>aucun module </td>
            {% endif %}
        </tbody>
    </table>


    {% endblock %}


