{% extends 'base.html.twig' %}

{% block title %}Détail du programme{% endblock %}

{% block body %}
<h1>Détail du :</h1>
<h2>Programme N° : {{programme.id}}</h2>

<table >

   
        <thead>
            <tr> 
                <th>N°</th>
                <th>Module</th>
                <th>Catégorie</th>
                <th>Prenom du Réferent</th>
                <th>Nom du réferent</th>
                 
        
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>{{ programme.Id }}</td>
                <td>{{ programme.module.module }}</td>
                <td>{{programme.module.categorie.categorie }}</td>
                <td>{{ programme.session.referent.prenomReferent }}</td>
                <td>{{ programme.session.referent.nomReferent }}</td>
                    
            </tr>
        </tbody>

    
</table>
    

{% endblock %}